@font-face {
    font-family: "YS Text Regular";
    src: local("YS Text Regular"), url("./fonts/YandexSansText-Medium.ttf") format("truetype"),
        url("./fonts/YandexSansText-Medium.woff") format("woff"),
        url("./fonts/YandexSansText-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "YS Text Thin";
    src: local("YS Text Regular"), url("./fonts/YandexSansDisplay-Thin.ttf") format("truetype"),
        url("./fonts/YandexSansDisplay-Thin.woff") format("woff"),
        url("./fonts/YandexSansDisplay-Thin.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
    transition: all 1s;
}

html,
body {
    background-color: #f5f5f5;
    transition: all 1s;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "YS Text Regular", sans-serif;
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    font-family: "YS Text Regular", sans-serif;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    font-family: "YS Text Regular", sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li,
li {
    list-style: none;
    font-family: "YS Text Regular", sans-serif;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    font-family: "YS Text Regular", sans-serif;
}

span,
a,
li,
label,
h1,
p {
    font-family: "YS Text Regular", sans-serif;
    transition: all 1s;
    color: wheat;
}

/*--------------------*/
.bigred {
    font-size: 20px;
    color: red;
}

.header,
.header.scroll-up {
    z-index: 1000;
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition: 1s all;
    transform: translateY(0%);
}

.header.scroll-down {
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    transition: 1s all;
    transform: translateY(-200%);
}

.header__container {
    position: relative;
    z-index: 10000;
    width: 100%;
    height: 80px;
    transition: transform 0.5s, background-color 0.3s;
    transform: none;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.header__left,
.header__navigation,
.header__right {
    display: flex;
    flex: none;
    align-items: center;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header__navigation {
    li {
        cursor: pointer;
        color: #262626;
        font-weight: 800;
        font-size: 16px;
    }
}

.navigation__button {
    width: 108px;
    height: 36px;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    &:first-child {
        margin-right: 10px;
    }
    &:last-child {
        margin-left: 10px;
        width: 160px;
        background-color: #262626;
        color: #ffffff;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    li {
        margin-right: 20px;
    }
}

.content {
    margin-top: 60px;
}

.content__container {
    max-width: 1375px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}

.content__banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    h2 {
        font-size: 80px;
        margin-bottom: 16px;
        color: #ffffff;
    }
    span {
        font-size: 24px;
        color: #ffffff;
    }
}

.top__block-text {
    border: 1px solid #ffffff;
    padding: 8px 16px;
    border-radius: 24px;
    margin: 0 auto 10px;
    max-width: 100%;

    span {
        font-size: 15px;
        width: 600px;
        color: #ffffff;
    }
    & span:first-child::after {
        content: "•";
        margin-inline: 10px;
    }
}
.banner__bottom {
    display: grid;
    grid-template-areas: ". b c";
    grid-template-columns: 1fr 472px 1fr;
    align-items: flex-end;
    width: 100%;
    max-width: 100%;
    padding-inline: 24px;
}

.bottom__date {
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        margin-top: 10px;
        font-size: 16px;
        color: #ffffff;
    }
}

.date__button {
    width: 472px;
    height: 60px;
    border-radius: 5px;
    font-size: 16px;
}

.card__rate {
    margin-right: 10px;
    width: 130px;
    height: 136px;
    background-color: #1c9c75;
    border-radius: 10px;
    padding: 10px;
    span {
        font-size: 40px;
        font-weight: 800;
        color: #ffffff;
    }
    p {
        margin-top: 10px;
        color: #ffffff;
        font-size: 16px;
    }
}

.card__result {
    position: relative;
    width: 155px;
    height: 136px;
    //transform: rotateY(0deg);
    //transition: all 1s;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #357de1;
    padding: 10px;
    border-radius: 10px;
    transition: all 1s;
}

.card__front {
    span {
        font-size: 40px;
        font-weight: 800;
        color: #ffffff;
    }
    p {
        margin-top: 10px;
        color: #ffffff;
        font-size: 16px;
    }
    &::after {
        content: "";
        position: absolute;
        top: -10px;
        right: -10px;
        width: 20px;
        height: 24px;
        background-image: url("./arrow.svg");
    }
}

.card__back {
    transform: rotateY(180deg);
    p {
        margin-top: 10px;
        color: #ffffff;
        font-size: 16px;
        a {
            text-decoration: underline;
        }
    }
    &::after {
        content: "";
        position: absolute;
        transform: rotateY(180deg);
        top: -10px;
        left: -10px;
        width: 20px;
        height: 24px;
        background-image: url("./arrow.svg");
    }
}
.card__result.flipped {
    //transform: rotateY(180deg);
    //transition: all 1s;
}

.card__result.flipped .card__front {
    transform: rotateY(180deg);
}

.card__result.flipped .card__back {
    transform: rotateY(0deg);
}

.bottom__cards {
    grid-area: c;
    justify-self: end;
    display: flex;
}

.content_stages {
    margin-top: 10px;
}

.stages__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.stage__block {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        font-size: 16px;
        color: #262626;
    }
}

.content__curse {
    margin-top: 100px;
    h2 {
        color: #262626;
        font-size: 48px;
        margin-bottom: 20px;
    }
}

.curse__block {
    gap: 50px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        width: clamp(300px, 75vw, 640px);
        height: clamp(150px, 50vw, 344px);
    }
}

.curse__text {
    p {
        font-size: 18px;
        color: #262626;
        line-height: 20px;
        &:nth-child(2) {
            margin: 40px 0;
        }
    }
}

.content__apporaoch {
    margin-top: 100px;
    span {
        display: inline-block;
        font-size: 20px;
        color: #262626;
        margin-bottom: 40px;
    }
}

.apporaoch__row {
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apporaoch__block {
    background-color: #ffffff;
    border-radius: 10px;
    img {
        width: 100%;
        height: 100%;
    }
    span {
        padding: 0 !important;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p {
        font-family: "YS Text Thin", sans-serif;
        font-size: 16px;
        color: #262626;
        font-weight: 800;
    }
}

.content__teach {
    margin-top: 100px;
}

.teach__navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.teach__buttons {
    display: flex;
    width: 10%;
    height: 100%;
    align-items: flex-end;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: #262626 !important;
    font-size: 20px !important;
}

.swiper-slide {
    span {
        display: block;
        padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
        font-size: 20px;
        color: #262626;
    }
}

.skills__grid {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.skills__skill {
    display: flex;
    align-items: center;
    span {
        display: inline-block;
        margin-left: 20px;
        font-size: 16px;
        color: #262626;
    }
}

.future__block{
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.future__position {
    margin-top: 50px;
    margin-left: 30px;
    h3 {
        font-size: 28px;
        color: #262626;
    }
    p {
        display: inline-block;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 16px;
        color: #262626;
    }
}

.furute__salary {
    margin-top: 30px;
    margin-left: 30px;
    h2 {
        font-size: 28px;
        margin-bottom: 0;
    }
    p {
        font-size: 18px;
        color: #262626;
        font-family: "YS Text Thin", sans-serif;
        font-weight: 600;
        a {
            text-decoration: underline;
            color: #262626;
            font-family: "YS Text Thin", sans-serif;
            font-weight: 500;
            font-size: 12px;
        }
    }
}

.salary__block {
    margin-top: 20px;
    margin-left: 20px;
    h2 {
        font-size: 40px;
        margin-bottom: 0;
    }
    p {
        font-size: 16px;
    }
}
.button__curse {
    cursor: pointer;
    transition: 1s all;
    background-color: #262626;
    color: #fff;
    font-size: 16px;
    height: 60px;
    width: clamp(344px, 50vw, 472px);
    border-radius: 10px;
    &:hover {
        transition: 1s all;
        background-color: black;
    }
}
.anchor {
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews__block {
    margin: 0 10px;
    position: relative;
    max-width: 326px;
    height: 264px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: inherit;
        display: block;
        content: "";
        height: 74px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), white 58%);
    }
}
.reviews__preson {
    display: flex;
    align-items: flex-start;
    img {
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }
    span {
        font-size: 16px;
    }
    p {
        margin-top: 5px;
        color: #262626;
        font-size: 12px;
        font-family: "YS Text Thin", sans-serif;
        font-weight: 600;
    }
}
.reviews__text {
    p {
        margin: 10px 0;
        font-size: 16px;
        color: #262626;
    }
}
.blur {
    z-index: 4000;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.review__row__navigation__block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review__block {
    width: 768px;
    height: 572px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    border-radius: 15px;
    .reviews__preson {
        margin-top: 20px;
    }
}

.review__close {
    right: 10px;
    width: 24px;
    position: absolute;
    height: 24px;
    cursor: pointer;
}

.reviews__info {
    span {
        color: #262626;
    }
}

.block__content {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 0;
    }
}

.review__prev,
.review__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
}

.review__next {
    margin-left: 50px;
    rotate: 180deg;
}
.review__prev {
    margin-right: 50px;
}

.learn__block {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    .learn__text {
        span {
            font-size: 28px;
            color: #262626;
        }
        p {
            font-family: "YS Text Thin";
            font-weight: 800;
            margin-top: 10px;
            color: #262626;
            font-size: 18px;
        }
    }
    &:nth-child(2n) {
        flex-direction: row;
    }
    video {
        max-width: 800px;
        max-height: 450px;
    }
}

.author__tabs {
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 0;
    }
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tab {
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 48px;
        background-color: #fff;
        &:hover {
            background-color: rgba(0, 0, 0, 0.12);
        }
        &:active {
            background-color: rgba(0, 0, 0, 0.25);
        }
        span {
            color: rgba(0, 0, 0, 0.5);
            font-size: 16px;
        }
    }
}

.author__block {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .author__text {
        margin-right: 20px;
        span {
            font-size: 40px;
            color: #262626;
        }
        p {
            margin-top: 20px;
            font-size: 18px;
            color: #262626;
            font-weight: 400;
        }
    }
    img {
        width: 640px;
        height: 344px;
    }
}

.mentors__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mentors__block {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}

.mentors__text {
    span {
        font-size: 20px;
        color: #262626;
    }
    p {
        font-size: 16px;
        color: #262626;
        font-weight: 800;
        font-family: "YS Text Thin", sans-serif;
    }
}

.reverse {
    flex-direction: row-reverse;
}

.author__block.reverse {
    .author__text {
        margin-left: 20px;
    }
}

.content__program {
    margin-top: 80px;
}

.program__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.program__title {
    h2 {
        font-size: 48px;
        color: #262626;
    }
    p {
        margin-top: 15px;
        font-size: 20px;
        color: #262626;
    }
}

.program__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 50px;
    color: #262626;
    font-size: 16px;
    border-radius: 12px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }
    &:active {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

.program__spoiler {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.spoiler__block {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    transition: 0.2s all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-height: 100px;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 40px;
        background: linear-gradient(180deg, transparent 0%, white 100%);
        pointer-events: none;
    }
}

.spoiler__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spoiler__info {
    margin-bottom: 10px;
}

.spoiler__info span {
    font-size: 16px;
    color: #262626;
}

.spoiler__name span {
    font-size: 32px;
    color: #262626;
}

.spoiler__number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c6b8f5;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    span {
        font-size: 24px;
        color: #fff;
    }
}

.spoiler__bottom {
    margin-top: 50px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.spoiler__text {
    width: 300px;
    height: 120px;
    span {
        font-size: 28px;
        color: #262626;
    }
    p {
        margin-top: 10px;
        font-size: 16px;
        color: #262626;
    }
}

.spoiler__block.open-half {
    transition: 0.2s all;
    max-height: 150px;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 56px;
        background: linear-gradient(180deg, transparent 0%, white 100%);
        pointer-events: none;
    }
}

.spoiler__block.open {
    max-height: 300px;
}

.hidden {
    display: none;
}

.content__pay {
    margin-top: 80px;
}

.pay__block {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    background: #202124;
    border-radius: 24px;
    gap: 120px;
}

.pay__right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.pay__top {
    position: relative;
    z-index: 1;
    h2 {
        font-size: 48px;
        color: #fff;
    }
    span {
        display: inline-block;
        margin-top: 20px;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.5);
    }
}

.pay__price__row {
    display: flex;
    justify-content: space-between;
}

.pay__price {
    width: 230px;
    height: 84px;
    span {
        position: relative;
        font-size: 32px;
        color: #fff;
    }
    p {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.5);
    }
}

.discount {
    position: absolute !important;
    right: -17px;
    top: -8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e67046;
}

.pay__button {
    background-color: #262626;
    width: 100%;
    height: 60px;
    font-size: 16px;
    color: #fff;
    border-radius: 12px;
    &:hover {
        background-color: #000000;
    }
}

.pay__bottom {
    width: 556px;
}

.pay__free-section-v2__freetrack-illustration {
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 480px;
    max-width: calc(100% - 600px);
}

.pay__free-section-v2__freetrack-illustration-wrapper {
    width: 100%;
    padding-block-end: calc(395 / 472 * 100%);
}

.pay__free-section-v2__freetrack-illustration-svg {
    color: #c6b8f5;
}
.pay__free-section-v2__freetrack-illustration-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.pay__free-section-v2__freetrack-illustration-image {
    -o-object-fit: contain;
    object-fit: contain;
}
.pay__free-section-v2__freetrack-illustration-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.pay__addition {
    margin: 40px 0;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.addition__block {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    img {
        max-width: 84px;
        max-height: 40px;
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }
    &:last-child {
        margin-left: 80px;
    }
}
.addition__text {
    margin-left: 20px;
    span strong,
    p strong a {
        font-size: 16px;
        color: #262626;
    }
    p {
        font-size: 16px;
        color: #262626;
    }
}

.content__instalment {
    margin-top: 40px;
}

.instalment__block {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
    .pay__free-section-v2__freetrack-illustration{
        position: relative;
    }
}

.instalment__text {
    h2 {
        font-size: 48px;
        color: #262626;
    }
}

.instalment__list {
    margin-block: 0;
    list-style-type: disc;
    padding-inline-start: 1em;
    margin-top: 20px;
    li {
        margin: 10px 0;
        font-size: 18px;
        font-family: "YS Text Thin", sans-serif;
        color: #262626;
        font-weight: 800;
        font-feature-settings: "pnum" on, "lnum" on;
        padding-inline-start: 4px;
        list-style: inside;
        list-style-type: disclosure-closed;
        list-style-position: outside;
        &::marker {
            color: #c6b8f5;
            unicode-bidi: isolate;
            font-variant-numeric: tabular-nums;
            text-transform: none;
            text-indent: 0px !important;
            text-align: start !important;
            text-align-last: start !important;
        }
    }
}

.content__form{
    margin-top: 80px;
}


.form__block{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 32px;
    border-radius: 20px;

}

.form__left{
    width: 100%;
    h2{
        font-size: 28px;
    }
    p{
        font-family: 'YS Text Thin';
        font-weight: 800;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 16px;
        color: #262626;
    }
}

.form__img{
    display: block;
    margin-left: 32px;
    max-width: 40%;
    width: 100%;
}

.form__inputBox{
    position: relative;
    width: 100%;
    margin: 10px 0;
    input{
        font-family: 'YS Text Regular';
        color: #1a1b22;
        font-size: 18px;
        min-height: 60px;
        border-radius: 10px;
        background-color: rgb(#c5d1e3, 0.5);
        width: 100%;
        height: 100%;
        padding: 10px;
        font-size: 1em;
        line-height: 1.5em;
        transition: all 0.2s;
        &.error{
            background-color: rgb(#e36563, 0.3);
            &:focus, &:valid{
                transition: all 0.2s;
                border: 1px solid #e36563;
                background-color: #ffffff;
            }
            &:focus ~ label, &:valid ~ label{
                font-size: 14px;
                padding: 5px 10px;
            }
        }
        &:focus, &:valid{
            transition: all 0.2s;
            border: 1px solid #005cff;
            background-color: #ffffff;
        }
        &:focus ~ label, &:valid ~ label{
            font-size: 14px;
            padding: 5px 10px;
        }
    }
    label{
        color: rgba(#1a1b22, 0.3);
        font-size: 18px;
        position: absolute;
        left: 0;
        padding: 20px 10px;
        font-size: 18px;
    }
}

.form__button{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    transition: 0.5s all;
    &.ready{
        transition: 0.5s all;
        background-color: #262626;
        color: #ffffff;
        &:hover{
            background-color: #000000;
        }
    }
}

.message{
    font-family: 'YS Text Regular';
    color: #ff3b30;
    font-size: 12px;
    line-height: 24px;
}


.form__inputCheckBox{
    display: flex;
    align-items: center;
    span{
        font-size: 14px;
    color: #262626;
    }
    span a{
        font-size: 14px;
        color: #262626;
        font-weight: 800;
        color: #262626;
    }
}

.real-checkbox{
    display: none;
}

.custom-checkbox{
    z-index: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: #000000 2px solid;
    border-radius: 5px;
    &::before{
        content: '';
        opacity: 0;
        transition: 1s all;
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('./galochka.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.real-checkbox:checked + .custom-checkbox::before{
    transition: 1s all;
    transform: translate(-50%, -50%);
    opacity: 1;
}


.content__important{
    margin-top: 80px;
}

.important__row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .important__block{
        margin: 0 10px;
        background-color: #ffffff;
        border-radius: 12px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        h2{
            font-size: 20px;
            color: #262626;
            font-weight: 800;
            font-feature-settings: "pnum" on, "lnum" on;
        }
        p{
            font-size: 16px;
            color: #262626;
            font-family: "YS Text Thin", sans-serif;
            font-weight: 800;
            font-feature-settings: "pnum" on, "lnum" on;
        }
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}

.content__question{
    margin-top: 80px;
    h2{
        font-size: 48px;
        text-align: center;
        color: #262626;
    }
}

.question__list{
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 100%;
}

.question__block{
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(gray, 0.5);
    background-color: #f5f5f5;
    padding: 10px;
    transition: 1s all;
    //max-height: 172px;
    width: 100%;
    //height: 50px;
    overflow: hidden;
    &.open{
        transition: 1s all;
        //height: 172px;
    }
}

.question__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
        font-size: 20px;
    }
}
.question__button{
    transition: 1s all;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    rotate: 0deg;
    &.black-background{
        transition: 1s all;
        background-color: #000000;
    }
    &.rotated{
        transition: 1s all;
        rotate: 45deg;
    }
}
.question__bottom{
    height: 0;
    span{
        display: inline-block;
        margin-top: 20px;
        font-size: 16px;
        color: #262626;
        font-family: "YS Text Thin";
        font-weight: 800;
    }
}

.footer{
    margin-top: 80px;
}

.footer__container{
    display: flex;
    justify-content: space-between;
}

.footer__colounm{
    display: flex;
}

.footer__colounm-2{
    display: flex;
}

.footer__info{
    display: flex;
    flex-direction: column;
}

.footer__phone{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 50px 0 0;
    width: 100%;
    a{
        font-size: 22px;
        color: #262626;
        &:hover{
            text-decoration: underline;
        }
    }
    span{
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 800;
        font-family: 'YS Text Thin';
    }
}

.footer__social{
    width: 400px;
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color: #000000;
        &:first-child:hover{
            color: #6383a8;
        }
        &:hover{
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

.footer__text{
    width: 432px;
    span{
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 800;
        color: #262626;
        font-family: "YS Text Thin", sans-serif;
        &:last-child{
            margin-bottom: 0;
        }
        a{
            font-family: "YS Text Thin", sans-serif;
            font-weight: 800;
            color: #262626;
            text-decoration: underline;
        }
        p{
            font-family: "YS Text Thin", sans-serif;
            font-weight: 800;
            color: #262626;
        }
    }
}

.footer__about{
    margin: 0 20px;
}

.footer__about, .footer__command, .footer__partner{
    display: flex;
    flex-direction: column;
    h3{
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 10px;
    }
    a{
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        color: #262626;
        &:hover{
            color: #1d6bf3;
        }
    }
}


.button__fixed{
    transition: 1s all;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 36px;
    position: fixed;
    right: 12px;
    bottom: 12px;
    background-color: #1c9c75;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    span{
        color: #ffffff;
    }
    .prisma-button2__icon{
        width: 24px;
        height: 24px;
        rotate: 180deg;
        margin-left: 5px;
        padding: 1px 0 0px 0;
    }
    &:hover{
        transition: 1s all;
        background-color: #2b7d64;
    }
    &.active{
        .prisma-button2__icon{
            rotate: 360deg;
        }
    }
}

.model__block{
    position: fixed;
    z-index: 50;
    pointer-events: auto;
    bottom: 56px;
    right: 10px;
    width: 0;
    max-height: calc(100vh - 60px);
    background-color: #28292b;
    //border: 1px solid var(--color-background-stroke);
    padding: 0;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity 0.5s;
    transition-timing-function: cubic-bezier(0.25, 1.15, 0.5, 1.1);
    box-sizing: border-box;
    overflow: auto;
    width: 400px;
    height: auto;
    padding: 24px;
    opacity: 1;
    visibility: visible;
}

.model__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 28px;
        color: #D6D6D6;
    }
    .model__close{
        cursor: pointer;
        svg{
            color: #D6D6D6;
        }
    }
}

.model__sub-title{
    margin: 10px 0 15px;
    font-size: 16px;
    color: #D6D6D6;
}


.model__inputBox{
    .correct, .error-icon{
        display: none;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    position: relative;
    width: 100%;
    margin: 10px 0;
    input{
        font-family: 'YS Text Regular';
        color: #d6d6d6;
        font-size: 18px;
        min-height: 60px;
        border-radius: 10px;
        background-color: #202124;
        border: solid 1px rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 100%;
        padding: 10px;
        font-size: 1em;
        line-height: 1.5em;
        transition: all 0.2s;
        &.correct-input ~ .correct{
            display: block;
        }
        &.error ~ .error-icon{
                display: block;
                top: 36%;
        }
        &.error{
            border: 1px solid #e36563;
            &:focus, &:valid{
                transition: all 0.2s;
                border: 1px solid #e36563;
            }
            &:focus ~ label, &:valid ~ label{
                font-size: 10px;
                padding: 5px 10px;
            }
        }
        &:focus{
            transition: all 0.2s;
            border: 1px solid #fff;
        }
        &:valid{
            transition: all 0.2s;
            border: 1px solid #1c9c75;
        }
        &:focus ~ label, &:valid ~ label{
            font-size: 10px;
            padding: 5px 10px;
        }
    }
    label{
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        left: 0;
        padding: 20px 10px;
        font-size: 16px;
    }
}

.model__button{
    margin: 10px 0;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.06);
    color: rgba(255, 255, 255, 0.25);
    font-size: 1rem;
    transition: 0.5s all;
    &.ready{
        transition: 0.5s all;
        background-color: #ffffff;
        color: rgba(0, 0, 0, 0.85);
        &:hover{
            background-color: #bfbfbf;
        }
    }
}

.model__message{
    font-family: 'YS Text Regular';
    color: #ff3b30;
    font-size: 12px;
    line-height: 24px;
}


.model__inputCheckBox{
    display: flex;
    align-items: center;
    span{
        font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    }
    span a{
        font-size: 14px;
        font-weight: 800;
        color: #357de1;
    }
}

.model__real-checkbox{
    display: none;
}

.model__custom-checkbox{
    z-index: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
    width: 27px;
    height: 20px;
    border: #fff 2px solid;
    border-radius: 5px;
    &::before{
        content: '';
        opacity: 0;
        transition: 1s all;
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 4px;    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('./galochka.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &:hover{
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.model__real-checkbox:checked + .model__custom-checkbox::before{
    transition: 1s all;
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: #bfbfbf;
}

.model__text{
    margin: 10px 0;
    text-align: center;
    p{
        font-size: 14px;
        color: #D6D6D6;
        &:last-child{
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.model__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 116px;
    margin: 0 auto;
    a{
        padding: 6px;
        background-color: rgba(255, 255, 255, 0.06);
        border-radius: 5px;
        color: #d6d6d6;
        &:hover{
            background-color: rgba(255, 255, 255, 0.12);
        }
    }
}
























///// MEDIA //////

@media screen and (max-width: 1440px) {
    .card__result {
        width: 110px;
        height: 100px;
    }
    .card__rate {
        width: 96px;
        height: 100px;
        span {
            font-size: 28px;
            font-weight: 800;
            color: #ffffff;
        }
        p {
            margin-top: 10px;
            color: #ffffff;
            font-size: 12px;
        }
    }
    .card__front {
        padding: 5px;
        span {
            font-size: 28px;
        }
        p {
            font-size: 12px;
        }
    }
    .card__back {
        padding: 8px;
        img {
            width: 32px;
            height: 32px;
        }
        p {
            margin-top: 5px;
            color: #ffffff;
            font-size: 12px;
            a {
                text-decoration: underline;
            }
        }
    }
    .navigation {
        display: none;
    }
}

@media screen and (max-width: 1025px) {
    .pay__block{
        border-radius: 0;
    }
    .content__container{
        padding: 0;
    }
    .mobile-footer__about{
        margin: 0 50px 0 0;
    }
    .footer__colounm-2{
        flex-wrap: wrap;
    }
    .important__row{
        flex-direction: column;
        .important__block{
            margin: 0;
            &:last-child, &:first-child{
                margin: 0;
            }
        }
    }
    .form__block{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .form__img{
        height: 320px;
        margin-left: 0;
        margin-left: initial;
        max-width: unset;
    }
    .instalment__text{
        h2{
            font-size: 28px;
        }
    }
    .instalment__block{
        flex-direction: column;
    }
    .pay__price {
        span {
            font-size: 24px;
        }
    }
    .pay__bottom {
        max-width: 485px;
        width: 100%;
    }
    .pay__top {
        h2 {
            font-size: 28px;
        }
        span {
            margin-top: 10px;
            font-size: 18px;
        }
    }
    .pay__block {
        gap: 16px;
    }
    .pay__bottom {
        margin-top: 30px;
    }
    .pay__right {
        flex-direction: column-reverse;
    }
    .pay__free-section-v2__freetrack-illustration {
        width: 325px;
        position: relative;
        margin: 0 auto;
        max-width: 100%;
        margin-inline: auto;
        bottom: 0;
    }
    .pay__free-section-v2__freetrack-illustration-image {
        -o-object-fit: contain;
        object-fit: contain;
    }
    .author__tabs {
        .tab {
            margin: 0 20px;
        }
    }
    .author__block {
        flex-direction: column;
        img {
            margin-top: 20px;
            max-height: 344px;
            max-width: 640px;
            height: 100%;
            width: 100%;
        }
    }
    .learn__block {
        flex-direction: column-reverse;
        &:nth-child(2n) {
            flex-direction: column-reverse;
        }
        .learn__text {
            span {
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .skills__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .content__curse {
        h2 {
            font-size: 28px;
        }
    }
    .curse__text {
        margin-top: 20px;
        p {
            font-size: 18px;
            &:nth-child(2) {
                margin: 20px 0;
            }
        }
    }
    .curse__block {
        img{
            width: 100%;
            height: 100%;
        }
        gap: 0;
        flex-direction: column-reverse;
    }
    .content {
        margin: 0;
    }
    .header {
        background: none;
        position: absolute;
        width: 100%;
    }
    .header__navigation {
        display: none;
    }

    .mobile-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 1000;
        padding: 16px 32px;
    }
    .mobile-header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
    }
    .mobile-header__navigation {
        margin-bottom: 50px;
        li {
            margin-top: 20px;
            color: #262626;
            font-weight: 800;
            font-size: 16px;
        }
    }
    .mobile-header__navigation__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-navigation__button {
        width: 250px;
        height: 60px;
        padding: 10px 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
            width: 440px;
            background-color: #262626;
            color: #ffffff;
        }
    }
    .banner__top {
        margin-top: 40px;
    }
    .banner__bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .bottom__cards {
        width: 50%;
        justify-content: flex-end;
        margin-bottom: 10px;
    }
    .banner__top {
        span {
            font-size: 16px;
        }
        h2 {
            font-size: 56px;
        }
    }
}

@media screen and (max-width: 910px) {
    .block__content{
        position: relative;
    }
    .review__next, .review__prev{
        display: none;
    }
    .review__block{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .review__close{
        display: none;
    }
    .mobile-review__close{
        display: block !important;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .line-review__close{
        z-index: 1000;
        display: flex;
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .spoiler__block{
        &::before{
            content: none;
        }
    }
    .spoiler__block.open-half {
        &::before{
            content: none;
        }
    }
    .mobile-navigation__button:first-child {
        margin-right: 0px;
    }
    .mobile-navigation__button {
        display: flex;
        flex: 50%;
    }

    .mobile-navigation__button:last-child {
        flex: 1;
    }
    .mobile-header__navigation__buttons {
        flex-wrap: wrap;
    }
    .stages__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 540px) {
    [class*="content__"], [class*="content_"] {
        padding: 10px;
    }
    .content__banner{
        padding: 0;
    }
    .content__container{
        padding: 0;
    }
    .content__question, .content__curse, .program__title{
        h2{
            text-align: start;
            font-size: 24px;
        }
    }
    .question__top{
        h3{
            font-size: 16px;
            font-family: "YS Text Thin", sans-serif;
            font-weight: 800;
        }
    }
    .question__button{
        width: 20px;
        height: 20px;
        svg{
            width: 20px;
            height: 20px;
        }
    }
    .hidden {
        display: inline-block;
    }
    .author__block {
        .author__text {
            span {
                font-size: 20px;
            }
            p {
                font-size: 16px;
            }
        }
    }
    .learn__block {
        flex-direction: row-reverse;
        &:nth-child(1n) {
            flex-direction: row-reverse;
            video {
                max-width: 158px;
                max-height: 98px;
            }
        }
        &:last-child {
            video {
                max-width: 484px !important;
                max-height: 260px !important;
                width: 484px !important;
                height: 260px !important;
            }
            flex-direction: column-reverse !important;
        }
        .learn__text {
            span {
                font-size: 16px;
            }
            p {
                font-family: "YS Text Regular", sans-serif;
                font-weight: 100;
                color: rgba(0, 0, 0, 0.5);
                font-size: 14px;
            }
        }
        &:last-child{
            .learn__text{
                p{
                    color: #262626;
                }
            }
        }
    }
    .reviews__text {
        p {
            font-size: 14px;
        }
    }
    .anchor {
        display: none;
    }
    .future__position {
        margin-top: 20px;
        margin-left: 10px;
    }
    .content__future {
        h2 {
            font-size: 24px;
        }
    }
    .future__position {
        h3 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
            margin-top: 10px;
            margin-left: 0;
        }
    }
    .furute__salary {
        margin-top: 15px;
        margin-left: 10px;
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
        .desktop {
            display: none;
        }
    }
    .salary__row {
        display: flex;
        .salary__block {
            margin: 0;
            padding: 12px;
            border-radius: 6px;
            h2 {
                font-size: 20px;
            }
            p {
                margin-top: 5px;
                font-size: 12px;
                font-family: "YS Text Thin", sans-serif;
            }
        }
        .salary__block:first-child {
            background-color: rgb(51, 180, 113, 0.1);
        }
        .salary__block:nth-child(2) {
            background-color: rgb(51, 180, 113, 0.3);
        }
        .salary__block:last-child {
            background-color: rgba(51, 180, 113, 0.6);
        }
    }
    .skills__grid {
        padding: 0;
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .mobile-swiper-wrapper {
        margin-top: 10px !important;
    }
    .swiper-slide {
        margin: 10px 0;
        span {
            font-size: 16px;
        }
    }
    .stage__block {
        flex-direction: column;
        align-items: flex-start;
        span{
            display: inline-block;
            margin-top: 10px;
            font-family: "YS Text Thin";
            font-weight: 800;
        }
    }
    .header {
        padding: 10px;
        margin: 0;
        top: 0;
        left: 0;
        position: fixed;
        background-color: #ffffff;
    }
    .mobile-header {
        position: fixed;
    }
    .content__banner {
        margin-top: 60px;
    }
    .banner__center {
        border-radius: 12px;
        background-position-x: 100%;
        background-image: url(https://code.s3.yandex.net/landings-v2-brand-management/main.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 24px;
        width: 100%;
        height: 211px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        span {
            color: #ffffff;
            font-size: 16px;
        }
    }
    .banner__top {
        margin-top: 10px;
        h2 {
            text-align: center;
            color: #262626;
            font-size: 32px;
        }
        span {
            text-align: center;
            color: #262626;
            font-size: 16px;
        }
    }
    .top__block-text {
        border: 1px solid #262626;
        padding: 4px 12px;
        span {
            color: #262626;
            font-size: 12px;
        }
    }

    .banner__bottom {
        flex-direction: column;
        padding-inline: 0;
    }

    .bottom__cards {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    .card__rate {
        margin-right: 5px;
        span {
            font-size: 20px;
        }
    }
    .card__front {
        span {
            font-size: 20px;
        }
    }

    .card__rate,
    .card__result,
    .card__front,
    .card__back {
        height: 76px;
        width: 100%;
    }

    .date__button {
        width: 100%;
        background: #262626;
        height: 60px;
        border-radius: 5px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 800;
    }

    .card__front::after {
        top: 3px;
        right: 5px;
    }

    .card__back::after {
        transform: rotateY(90deg);
    }

    .card__result.flipped .card__back::after {
        top: 5px;
        left: 220px;
        transform: rotateY(180deg);
    }

    .program__spoiler {
        margin-top: 20px;
    }

    .spoiler__block {
        max-height: 80px;
    }

    .spoiler__bottom {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .spoiler__block.open {
        transition: 1s all;
        max-height: 300px;
        height: 100%;
    }
    .program__button {
        display: none;
    }
    .spoiler__number {
        width: 24px;
        height: 24px;
        span {
            font-size: 12px;
        }
    }
    .spoiler__name span {
        font-size: 20px;
    }
    .spoiler__info span {
        font-size: 12px;
    }
    .spoiler__text {
        transition: 1s all;
        span {
            transition: 1s all;
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            font-size: 18px;
            &::after {
                transition: 1s all;
                content: ">";
                display: block;
                font-size: 18px;
                font-weight: 800;
                rotate: 90deg;
            }
        }
        p {
            font-size: 12px;
        }
    }

    .spoiler__text {
        margin-top: 10px;
        width: 100%;
        max-height: 25px;
        overflow: hidden;
        border-bottom: 1px solid;
        transition: 0.5s all;
    }

    .spoiler__text.open {
        transition: 0.5s all;
        max-height: 300px;
        height: 100%;
        span {
            transition: 0.5s all;
            &::after {
                content: ">";
                display: block;
                font-size: 18px;
                font-weight: 800;
                rotate: 270deg;
                transition: 0.5s all;
            }
        }
    }
    .content__pay{
        padding: 0;
    }
    .pay__top {
        h2 {
            font-size: 24px;
        }
        span {
            font-size: 14px;
        }
    }
    .pay__price {
        span {
            font-size: 20px;
        }
        p {
            font-size: 14px;
        }
    }
    .pay__button {
        font-size: 16px;
    }
    .discount {
        right: -35px;
    }
    .pay__addition {
        flex-direction: column;
        align-items: flex-start;
    }
    .addition__block:last-child {
        margin-left: 0px;
        margin-top: 20px;
    }
    .instalment__text{
        h2{
            font-size: 24px;
        }
    }
    .instalment__list{
        li{
            font-size: 14px;
        }
    }

    .important__row{
        .important__block{
            h2{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
        }
    }

    .mentors__block{
        max-width: 100%;
        max-height: 100%;
        .mentors__text{
            margin-top: 10px;
            span{
                padding: 0 !important;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .footer__colounm{
        width: 300px;
        flex-direction: column;
    }
    .footer__about, .footer__command, .footer__partner {
        margin: 10px 0;
    }
    .footer__social{
        width: 400px;
        margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    a{
        margin: 5px 0;
    }
    }
    .footer__phone{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 50px 0 0;
        width: 100%;
        flex-direction: column;
    }
    .footer__text{
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .form__block{
        padding: 0px;
    }
    .custom-checkbox{
        width: 26px;
        height: 18px;
    }
    .pay__price__row {
        flex-direction: column;
    }
}