@charset "UTF-8";
@font-face {
  font-family: "YS Text Regular";
  src: local("YS Text Regular"), url("./fonts/YandexSansDisplay-Regular.ttf") format("truetype"), url("./fonts/YandexSansDisplay-Regular.woff") format("woff"), url("./fonts/YandexSansDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
  transition: all 1s;
}

html,
body {
  padding: 0 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "YS Text Regular", sans-serif;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  font-family: "YS Text Regular", sans-serif;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  font-family: "YS Text Regular", sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li,
li {
  list-style: none;
  font-family: "YS Text Regular", sans-serif;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: "YS Text Regular", sans-serif;
}

span,
a,
li,
label,
h1,
p {
  font-family: "YS Text Regular", sans-serif;
  transition: all 1s;
  color: wheat;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

.header {
  margin: 15px auto;
}

.header__container {
  position: relative;
  z-index: 10000;
  width: 100%;
  height: 80px;
  transition: transform 0.5s, background-color 0.3s;
  transform: none;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header__left,
.header__navigation,
.header__right {
  display: flex;
  flex: none;
  align-items: center;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header__navigation li {
  color: #262626;
  font-weight: 800;
  font-size: 16px;
}

.navigation__button {
  width: 108px;
  height: 36px;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.navigation__button:first-child {
  margin-right: 10px;
}
.navigation__button:last-child {
  margin-left: 10px;
  width: 160px;
  background-color: #262626;
  color: #ffffff;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}
.navigation li {
  margin-right: 20px;
}

.content__container {
  max-width: 1375px;
  margin: 0 auto;
}

.content__banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.banner__top h2 {
  font-size: 80px;
  margin-bottom: 16px;
  color: #ffffff;
}
.banner__top span {
  font-size: 24px;
  color: #ffffff;
}

.top__block-text {
  border: 1px solid #ffffff;
  padding: 8px 16px;
  border-radius: 24px;
  margin: 0 auto 10px;
  max-width: 100%;
}
.top__block-text span {
  font-size: 15px;
  width: 600px;
  color: #ffffff;
}
.top__block-text span:first-child::after {
  content: "•";
  margin-inline: 10px;
}

.banner__bottom {
  display: grid;
  grid-template-areas: ". b c";
  grid-template-columns: 1fr 472px 1fr;
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
  padding-inline: 24px;
}

.bottom__date {
  grid-area: b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom__date span {
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff;
}

.date__button {
  width: 472px;
  height: 60px;
  border-radius: 5px;
  font-size: 16px;
}

.card__rate {
  margin-right: 10px;
  width: 130px;
  height: 136px;
  background-color: #1c9c75;
  border-radius: 10px;
  padding: 10px;
}
.card__rate span {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
}
.card__rate p {
  margin-top: 10px;
  color: #ffffff;
  font-size: 16px;
}

.card__result {
  position: relative;
  width: 155px;
  height: 136px;
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #357de1;
  padding: 10px;
  border-radius: 10px;
  transition: all 1s;
}

.card__front span {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
}
.card__front p {
  margin-top: 10px;
  color: #ffffff;
  font-size: 16px;
}
.card__front::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 24px;
  background-image: url("./arrow.svg");
}

.card__back {
  transform: rotateY(180deg);
}
.card__back p {
  margin-top: 10px;
  color: #ffffff;
  font-size: 16px;
}
.card__back p a {
  text-decoration: underline;
}
.card__back::after {
  content: "";
  position: absolute;
  transform: rotateY(180deg);
  top: -10px;
  left: -10px;
  width: 20px;
  height: 24px;
  background-image: url("./arrow.svg");
}

.card__result.flipped .card__front {
  transform: rotateY(180deg);
}

.card__result.flipped .card__back {
  transform: rotateY(0deg);
}

.bottom__cards {
  grid-area: c;
  justify-self: end;
  display: flex;
}

@media screen and (max-width: 1440px) {
  .card__result {
    width: 110px;
    height: 100px;
  }
  .card__rate {
    width: 96px;
    height: 100px;
  }
  .card__rate span {
    font-size: 28px;
    font-weight: 800;
    color: #ffffff;
  }
  .card__rate p {
    margin-top: 10px;
    color: #ffffff;
    font-size: 12px;
  }
  .card__front {
    padding: 5px;
  }
  .card__front span {
    font-size: 28px;
  }
  .card__front p {
    font-size: 12px;
  }
  .card__back {
    padding: 8px;
  }
  .card__back img {
    width: 32px;
    height: 32px;
  }
  .card__back p {
    margin-top: 5px;
    color: #ffffff;
    font-size: 12px;
  }
  .card__back p a {
    text-decoration: underline;
  }
  .navigation {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .header {
    position: absolute;
    width: 100%;
  }
  .header__navigation {
    display: none;
  }
  .mobile-header {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1000;
    padding: 16px 32px;
  }
  .mobile-header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  .mobile-header__navigation {
    margin-bottom: 50px;
  }
  .mobile-header__navigation li {
    margin-top: 20px;
    color: #262626;
    font-weight: 800;
    font-size: 16px;
  }
  .mobile-header__navigation__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-navigation__button {
    width: 250px;
    height: 60px;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
  }
  .mobile-navigation__button:first-child {
    margin-right: 10px;
  }
  .mobile-navigation__button:last-child {
    margin-left: 10px;
    width: 440px;
    background-color: #262626;
    color: #ffffff;
  }
  .banner__top {
    margin-top: 40px;
  }
  .banner__bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .bottom__cards {
    width: 50%;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  .banner__top span {
    font-size: 16px;
  }
  .banner__top h2 {
    font-size: 56px;
  }
}
@media screen and (max-width: 768px) {
  .mobile-navigation__button:first-child {
    margin-right: 0px;
  }
  .mobile-navigation__button {
    display: flex;
    flex: 50%;
  }
  .mobile-navigation__button:last-child {
    flex: 1;
  }
  .mobile-header__navigation__buttons {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 540px) {
  .header {
    position: relative;
  }
  .mobile-header {
    position: absolute;
  }
  .banner__center {
    border-radius: 12px;
    background-position-x: 100%;
    background-image: url(https://code.s3.yandex.net/landings-v2-brand-management/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    width: 100%;
    height: 211px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .banner__center span {
    color: #ffffff;
    font-size: 16px;
  }
  .banner__top {
    margin-top: 10px;
  }
  .banner__top h2 {
    text-align: center;
    color: #262626;
    font-size: 32px;
  }
  .banner__top span {
    text-align: center;
    color: #262626;
    font-size: 16px;
  }
  .top__block-text {
    border: 1px solid #262626;
    padding: 4px 12px;
  }
  .top__block-text span {
    color: #262626;
    font-size: 12px;
  }
  .banner__bottom {
    flex-direction: column;
    padding-inline: 0;
  }
  .bottom__cards {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  .card__rate {
    margin-right: 5px;
  }
  .card__rate span {
    font-size: 20px;
  }
  .card__front span {
    font-size: 20px;
  }
  .card__rate, .card__result, .card__front, .card__back {
    height: 76px;
    width: 100%;
  }
  .date__button {
    width: 100%;
    background: #262626;
    height: 60px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
  }
  .card__front::after {
    top: 3px;
    right: 5px;
  }
  .card__back::after {
    transform: rotateY(90deg);
  }
  .card__result.flipped .card__back::after {
    top: 5px;
    left: 220px;
    transform: rotateY(180deg);
  }
}/*# sourceMappingURL=style.css.map */